* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: rgb(250, 250, 250);
}
.container {
	width: 700px;
	margin: 0 auto;
	text-align: center;
}
.image {
	margin-top: 20px;
}
.bigbox {
	width: 400px;
	border: 1px solid lightgray;
	text-align: center;
	padding-bottom: 20px;
}
.smallbox {
	width: 400px;
	border: 1px solid lightgray;
}
.table {
	margin: 10px;
	display: inline-block;
}
.text {
	font-size: 12px;
	margin: 20px;
	text-align: center;
}
.hr {
	width: 30%;
	border: 1px solid lightgray;
	display: inline-block;
	font-size: 12px;
}
input[type=text] {
	height: 31.3px;
	width: 268.02px;
	background-color: rgb(250, 250, 250);
	border: 1px solid lightgray;
	padding: 19px;
	margin: 2px;
}
input[type=file] {
	width: 268.02px;
	margin-bottom: 10px;
}
input[type=password] {
	height: 31.3px;
	width: 268.02px;
	background-color: rgb(250, 250, 250);
	border: 1px solid lightgray;
	padding: 19px;
	margin: 2px;
}
input[type=button], input[type=submit] {
	height: 31.3px;
	width: 268.02px;
	background-color: #3897F0;
	border-radius: 5px;
	border: 0px;
	color: white;
}

.under li {
	display: inline-block;
	padding: 5px;
	margin-top: 60px;
}
.under1 {
	font-size: 10px;
	text-decoration: none;
	color: skyblue;
}
.box {
	margin: 50px;
	width: 400px;
	display: inline-block;
}
.img_wrap {
	width: 300px;
	margin-top: 20px;
}
.img_wrap img {
	max-width: 100%;
}