/* 모달 */
#modal {
	display: none;
}

#modal.active {
	display: block;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0,0,0, 0.6);
	z-index: 999;
}

#like_popup_list {
	background: #FFF;
	padding: 20px;
	position: fixed;
	width: 400px;
	left: 10%;
	right: 10%;
	margin: 0 auto;
	top: 30%;
	overflow-y: scroll;
	height: 400px;
}

.like_popup_item {
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	justify-content: flex-start;
	grid-gap: 15px;
	border-bottom: 1px dashed #999;
	padding-top: 10px;
	padding-bottom: 10px;
}

.like_popup_item img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
}

.like_popup_item p {
	display: inline-block;
	cursor: pointer;
}

.like_popup_close {
	margin-top: 20px;
	text-align: center;
}

.like_popup_close button {
	height: 30px;
	width: 80px;
	background-color: #3c88de;
	color: white;
	border-radius: 5px;
	border: 0px;
	font-weight: 600;
}